* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: bisque;
  text-align: center;
}
h1 {
  color: brown;
}
nav {
  height: 40px;
  background-color: palevioletred;
  display: flex;
  align-items: center;
}
ul {
  display: flex;
  margin-left: auto;
  list-style: none;
}
li {
  padding-left: 20px;
  padding-right: 20px;
  border-left: 2px dotted white;
}
h2 {
  margin-left: 10px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
